@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: black;
  --secondary: #20c20e;
}
input {
  @apply w-full;
}

#__next {
  @apply flex flex-col bg-[var(--primary)] font-roboto text-white;
  overflow: hidden;
  height: 100svh;
}

.befored {
  @apply before:h-[1px] before:grow before:bg-white;
}

.aftered {
  @apply after:h-[1px] after:flex-grow after:bg-white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 hover:bg-zinc-600 active:bg-zinc-800;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}
