@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: black;
  --secondary: #20c20e;
}
input {
  @apply w-full;
}

#__next {
  @apply flex flex-col bg-[var(--primary)] font-roboto text-white;
  overflow: hidden;
  height: 100svh;
}

.befored {
  @apply before:h-[1px] before:grow before:bg-white;
}

.aftered {
  @apply after:h-[1px] after:flex-grow after:bg-white;
}
